p  {
  font-family: arial;
  margin-top: o;
  margin-bottom: 0;  
}
.video-stats {
  font-size: 14px;
  color: rgb(99, 98, 98);
  margin-bottom: 20px;
}
.video-title {
  font-weight: bold;
  font-size: 18px;
  width: 280px;
  line-height: 24px;
  margin-bottom: 5px;
}
  .video-author {
    font-size: 14px;
    color: rgb(85, 81, 81);
    margin-bottom: 20px;
  }
  .video-description {
    font-size: 14px;
    color: rgb(65, 61, 61);
    width: 280px;
    line-height: 22px;
    margin-bottom: 100px;
  }
  .apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(233, 54, 54);
    padding-top:18px ;
    padding-bottom: 18px;
    text-align: center;
    color: white;
  }
  .shop-link {
    cursor: pointer;
  }
  .shop-link:hover {
    text-decoration: underline;
  }